{% extends "spotbit/components/spotbit_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'settings_get' %}
{% block content %}
    <br/>
    <style>

        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            background-color: #e3f2fd;
        }
        .container{
            position: relative;
            max-width: 320px;
            width: 100%;
            margin: 20px 0px 30px;
        }
        .select-btn, .select-btn1{
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-radius: 4px;
            border: 1px solid var(--cmap-border);
            cursor: pointer;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }
        .select-btn .btn-text, .select-btn1 .btn-text1{
            font-size: 17px;
            font-weight: 400;
            color: #FFFFFF;
        }
        .select-btn .arrow-dwn, .select-btn1 .arrow-dwn{
            border: solid white;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(45deg);
        }
        .select-btn.open .arrow-dwn, .select-btn1.open .arrow-dwn{
            transform: rotate(-135deg);
        }
        .list-items, .list-items1{
            position: relative;
            margin-top: 15px;
            border-radius: 8px;
            padding: 16px;
            background-color: #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            display: none;
        }
        .select-btn.open ~ .list-items, .select-btn1.open ~ .list-items1{
            display: block;
        }
        .list-items .item, .list-items1 .item1{
            display: flex;
            align-items: center;
            list-style: none;
            height: 50px;
            transition: 0.3s;
            padding: 0 15px;
            border-radius: 8px;
        }
        .list-items .item:hover, .list-items1 .item1:hover{
            background-color: #e7edfe;
        }

        .list-items .checkbox:hover, .list-items1 .checkbox1:hover{
            cursor: pointer;
        }

        .item .item-text, .item1 .item-text{
            font-size: 16px;
            font-weight: 400;
            color: #333;
        }
        .item .checkbox, .item1 .checkbox1{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 16px;
            width: 20px;
            border-radius: 4px;
            margin-right: 12px;
            border: 1.5px solid #c0c0c0;
            transition: all 0.3s ease-in-out;
            min-width: 20px;
        }
        .item.selected .checkbox, .item1.selected1 .checkbox1{
            background-color: #4070f4;
            border-color: #4070f4;
        }

    </style>

    <div class="card">
        <h1>{{ _("Configure your extension") }}</h1>

        <form action="{{ url_for(service.get_blueprint_name() + '.settings_post') }}" method="POST" role="form">
            <div class="container">
                <div class="select-btn">
                    <span class="btn-text">Select Exchanges</span>
                    <span class="arrow-dwn"></span>
                </div>
    
                <ul class="list-items">
                    <li class="item">
                        <input class="checkbox" type="checkbox" name="exchange1" value="Bitstamp" autocomplete="off">
                        <span class="item-text">Bitstamp</span>
                    </li>
                    <li class="item">
                        <input class="checkbox" type="checkbox" name="exchange2" value="Coindesk" autocomplete="off">
                        <span class="item-text">Coindesk</span>
                    </li>
                    <li class="item">
                        <input class="checkbox" type="checkbox" name="exchange3" value="Coinbase" autocomplete="off">
                        <span class="item-text">Coinbase</span>
                    </li>
                    <li class="item">
                        <input class="checkbox" type="checkbox" name="exchange4" value="Kraken" autocomplete="off">
                        <span class="item-text">Kraken</span>
                    </li>
                </ul>
            </div>



            <div class="container">
                <div class="select-btn1">
                    <span class="btn-text1">Select Currencies</span>
                    <span class="arrow-dwn"></span>
                </div>
    
                <ul class="list-items1">
                    <li class="item1">
                        <input class="checkbox1" type="checkbox" name="currency1" value="USD" autocomplete="off">
                        <span class="item-text">USD</span>
                    </li>
                    <li class="item1">
                        <input class="checkbox1" type="checkbox" name="currency2" value="EUR" autocomplete="off">
                        <span class="item-text">EUR</span>
                    </li>
                    <li class="item1">
                        <input class="checkbox1" type="checkbox" name="currency3" value="GBP" autocomplete="off">
                        <span class="item-text">GBP</span>
                    </li>
                    <li class="item1">
                        <input class="checkbox1" type="checkbox" name="currency4" value="CHF" autocomplete="off">
                        <span class="item-text">CHF</span>
                    </li>
                </ul>
            </div>


            <input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>

            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date">

            <div>
                <table style="border: none; margin: 30px 0px;">
                    <tbody>
                        <tr style="background: none;">
                            <td style="padding: 0px; border: none;">
                                {{ _("Frequency:") }}
                            </td>
                        </tr>
                        <tr style="background: none;">
                            <td style="padding: 0px; border: none;">
                                <fieldset style="border:none; width: 100%;"> 
                                    <select name="frequencies" id= "frequencies" style="padding: 10px;">
                                        <optgroup label="Common Frequencies">
                                            <option value="1m">1 Minute</option>
                                            <option value="30m">30 Minutes</option>
                                            <option value="1h">1 Hour</option>
                                            <option value="6h">6 Hours</option>
                                            <option value="12h">12 Hours</option>
                                            <option value="1d">1 Day</option>
                                        </optgroup>
                                    </select>
                                </fieldset>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div class="row">
                <button type="submit" class="btn">{{ _("Save") }}</button>
            </div>

        </form>
    </div>
    <br/>
    <br/>
    <br/>


    <script>
        const selectBtn = document.querySelector(".select-btn");
        const items = document.querySelectorAll(".checkbox");

        const selectBtn1 = document.querySelector(".select-btn1");
        const items1 = document.querySelectorAll(".checkbox1");

        selectBtn.addEventListener("click", () => {
            selectBtn.classList.toggle("open");
        });

        selectBtn1.addEventListener("click", () => {
            selectBtn1.classList.toggle("open");
        });

        items.forEach(item => {
            item.addEventListener("click", () => {
                item.classList.toggle("selected");

                let selected = document.querySelectorAll(".selected"),
                    btnText = document.querySelector(".btn-text");

                    if(selected && selected.length > 0){
                        if (selected.length == 1) {
                            btnText.innerText = `1 Exchange Selected`;
                        } else {
                            btnText.innerText = `${selected.length} Exchanges Selected`;
                        }
                    }else{
                        btnText.innerText = "Select Exchanges";
                    }
            });
        })



        items1.forEach(item => {
            item.addEventListener("click", () => {
                item.classList.toggle("selected1");

                let selected = document.querySelectorAll(".selected1"),
                    btnText = document.querySelector(".btn-text1");

                    if(selected && selected.length > 0){
                        if (selected.length == 1) {
                            btnText.innerText = `1 Currency Selected`;
                        } else {
                            btnText.innerText = `${selected.length} Currencies Selected`;
                        }
                    }else{
                        btnText.innerText = "Select Currencies";
                    }
            });
        })
    
    </script>


{% endblock %}